.header {
    position: absolute;
    padding: 20px;
    width: 100%;
    top: 0;
    left: 0;
    .container {
        @include flex (center, space-between);
    }
    .navbar-right {
        @include flex (center, center);
        li+li {
            margin-left: 30px;
        }
    }
    li a {
        color: $color-secundary;
    }
    .logo-container {
        @include flex (center, center);
        img {
            border-radius: 50%;
            border: 1px solid $color-black;
            margin-right: 10px;
        }
        h1 {
            margin: 0;
            width: 87px;
        }
    }

}
