@mixin flex ($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin button($pd-y, $pd-x,$bg, $text) {
    padding: $pd-y $pd-x;
    background: $bg;
    text-transform: none;
    color: $text;
    font-size: 18px;
}

@mixin text ($color) {
    font-size: $font-size-text;
    text-decoration: none;
    color: $color;
    font-family: 'Montserrat', sans-serif; 
}

@mixin title ($transform, $color) {
    font-size: $font-size-title;
    text-transform: $transform;
    color: $color;
    font-family: 'Montserrat', sans-serif;
}