// CORES
$color-black: #000;
$color-white: #fff;
$color-gray: #ccc;
$color-blue: #326e76;

$color-primary: $color-black;
$color-secundary: $color-white;
$color-icon: $color-blue;
$color-bg: $color-gray;


//PADDING
$padding: 40px;



// FONT
$font-size-text: 16px;
$font-size-title: 24px;