body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
}

.container {
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 420px) {
  .container {
    width: 90%;
  }
}

.header {
  position: absolute;
  padding: 20px;
  width: 100%;
  top: 0;
  left: 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar-right li + li {
  margin-left: 30px;
}

.header li a {
  color: #fff;
}

.header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .logo-container img {
  border-radius: 50%;
  border: 1px solid #000;
  margin-right: 10px;
}

.header .logo-container h1 {
  margin: 0;
  width: 87px;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 58, 58, 0.425)), to(rgba(12, 12, 12, 0.562))), url(../images/bg3.jpg);
  background: linear-gradient(rgba(75, 58, 58, 0.425), rgba(12, 12, 12, 0.562)), url(../images/bg3.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.banner-content {
  height: 85vh;
  width: 57vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-content .phone {
  margin-bottom: -23vh;
  height: 87vh;
}

.banner-content .banner-text {
  width: 30vw;
}

.banner-content .banner-text h2 {
  font-size: 24px;
  text-transform: unset;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.banner-content .banner-text h5 {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.banner-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 57vw;
}

.btn-fill {
  padding: 10px 20px;
  background: #326e76;
  text-transform: none;
  color: #ccc;
  font-size: 18px;
  font-size: 25px;
  border-radius: 5px;
}

.btn-simple {
  padding: 10px 20px;
  background: transparent;
  text-transform: none;
  color: #fff;
  font-size: 18px;
  font-size: 20px;
}

.clientes {
  background-color: #ccc;
}

.clientes .clientes-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 60vw;
  margin: 0 auto;
}

.clientes .clientes-titulo {
  font-size: 24px;
  text-transform: uppercase;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}

.clientes .clientes-paragrafo {
  font-size: 16px;
  text-decoration: none;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}

.lista-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.apresentacao {
  overflow: hidden;
}

.apresentacao-img {
  width: 65vw;
  margin-right: -34vw;
}

.apresentacao-content {
  width: 35vw;
}

.colunas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */